@charset "utf-8";
/* 첫번째 줄은 무조건 1번줄에 배치 */
/* 글꼴 import 진행 */
@import url("./font.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    border: o;
    vertical-align: middle;
}

html {
    font-size: 16px;
}

body {
    font-family: "Poppins", "Pretendard", sans-serif;
    color: #222;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0;
    word-break: keep-all;
}

/* 공통요소 */
.inner {
    position: relative;
    display: block;
    max-width: 1420px;
    width: 100%;
    margin: 0 auto;
}

/* 레이아웃 */
.wrap {
    position: relative;
    display: block;
}

/* 상단 */
.header {
    /* 메뉴가 상단에 고정되서 스크롤되면 fixed */
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100px;
    /* header 엔 z-index 최대값으로 */
    z-index: 9999;
    background: rgba(255, 255, 255, 0);
    transition: height .5s, background .5s;
}

.header .inner {
    max-width: 100%;
    height: 100%;
}
/* 
    left, top, right, bottom 사용시
    반드시 position: absolute 쓰자.
    즉, position: relative 에 쓰지말자!
*/

.logo {
    position: absolute; 
    top: 35px;
    left: 60px;
    /* 
        a, span 은 기본  display:inline 
        너비, 높이, margin, padding 설정 못함
        최소 inline-block 이라고 해야함
    */
    display: inline-block;
    width: 125px;
    height: 30px;
    background: url(../images/logo_white.png) no-repeat center;
    background-size: cover;
    transition: top .5s, background .5s;
}

.nav {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.gnb {
    display: flex;
    height: 100%;
    align-items: center;
}

.gnb li {

}

/* 스크롤시 css 적용 */
.header.active {
    height: 80px;
    background: rgba(255, 255, 255, 1);
}

.header.active .logo {
    top: 25px;
    background: url(../images/logo.png) no-repeat center;
    background-size: cover;
}

/* 비주얼 */
.visual {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    background: url(../images/main_visual_1.jpg) no-repeat center;
    background-size: cover;
}

/* 서비스 */
.service {
    position: relative;
    display: block;
}

/* 정보 */
.info {
    position: relative;
    display: block;
}

/* 서비스 카테고리 */
.category {
    position: relative;
    display: block
}

/* 하단 */
.footer {
    position: relative;
    display: block;
}